/*Primary Header*/
body {
	background-color: #D1DBBD;
}

img {
	width: 350px;
	margin-top: 0px;
} 

h1 {
	font-family: 'Orbitron', sans-serif;
	padding-bottom: 1px;
	color: #193441;
	text-align: right;
	width: 150%;
	border-bottom: solid 5px #193441;
}

h2 {
	font-family: 'Orbitron', sans-serif;
	color: #3E606F;
}

h3 {
	font-family: 'Gentium Book Basic', serif;
	color: #3E606F;
}



/*Body Copy*/
p {
	font-family: 'Gentium Book Basic', serif;
}

/*Baseline Links*/
a {
	text-decoration: none;
}

/* Set Your Own Margin & Padding */



/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	margin: 5px 5px;
	height: 50px;
	width: 50px;
}

.patterns {
	float: right;
}

.colors {
	float: right;
	margin-right: 7em;
}

.color-1 {
	background: #193441; 
}

.color-2 {
	background: #3E606F;
}

.color-3 {
	background: #FCFFF5;
}

.pattern-1 {
	background: url("../images/pattern-1.png");
}

.pattern-2 {
	background: url("../images/pattern-2.png");
}

.pattern-3 {
	background: url("../images/pattern-3.png");
}


























/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}